@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.truculenta {
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    color:brown;
  }


a {
    text-decoration: none;
    color:brown;
    flex:5;
    font-family: Truculenta;
}

.highlights a {
    color:black;
    font-family: Truculenta;
}
.extras img {
    max-width: 300px;
}
.general {
    display: flex;
    background-color:white;
    flex-direction: column;
    height: auto;
    flex-flow: column-nowrap;
}


.container_menu {
    flex:3;
    display: flex;
    background-color:  white;
    max-width: 600px;  
    width:0 auto;
    align-items:flex-end;
    justify-content: flex-end; 
}

.menu_bar {
     background-color: white;
     /* max-width: 600px;  */
     margin: 0 auto;
     display:flex;
     padding: 15px;
     flex-wrap: wrap;
    
     width: 100%; 
     text-align: center;  
}

.banner_home {
    display: flex;
    background-color: white;
    background-image: url(/assets/img/Design\ sem\ nome\ \(1\).png); 
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 400px;  
    background-size:100%; 
    width: 100%;  
}

.highlights {
    max-width: 600px; 
    margin: 0 auto;
    flex:1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-grow: 3;
    width: 0 auto;
    filter: alpha(opacity=70);
        opacity: 0.8;
        -moz-opacity: 0.8;
        -webkit-opacity: 0.8;
}

.banner_superior{
    flex:2.2;
    
}
.netflix, .amazon, .hbo {
    flex:1;
    background-color:dimgrey;
    color:white;
    height:80px;
    margin-bottom: -150px;
    padding-left: 10px;
    text-align: center;
    width: 600px;
}

.amazon {
    text-align: center;
    
   
}
.hbo {
    background-color:dimgrey;
}
.articles {
    flex:1;
    display: flex;
    /* background-color: darkolivegreen; */
    flex-direction: column;
    flex-wrap: wrap;  
    padding: 15px 15px;
}

.container_news {
    display: flex;
    flex-direction: row;
    /* max-width: 960px; */
    padding: 15px 15px;
}

.news_columnLeftUp, .news_columnLeftDown, .news_columnRightUp, .news_columnRightDown{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:1;
}

.container_Left {
    flex-direction: column;
    display: flex;
    flex:1;
}

.container_right {
    flex-direction: column;
    display: flex;
    flex:1;
}

.extras {
    flex:1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}


.oscar, .golden, .emmy, h1 {
    flex:1;
    color: brown;
    font-family: Truculenta;
    font-size: 32px;
}

h1, h2 {
    margin-bottom: 0;
}

.resume_Oscar, .resume_Golden, .resume_Emmy {
    flex:1;
    margin: 5px 10px;
    text-align: justify;
}

a:hover {
    color:dimgray
}
.hbo a:hover {
    color:brown;
}
.netflix a:hover {
    color:brown;
}

.amazon a:hover {
    color:brown;
}
.fotter_Itens {
    justify-items: center;
    align-items: center;
}

.container {
width: 900px;
justify-content: center;
margin: 0 auto;
flex-wrap: wrap;
max-width: 1200px;
width: 100%;

}

.fotter_Itens {
    flex-direction: row;
    background-color:  rgb(172, 116, 116);
    display:flex;
    justify-content: center;
    align-items: center;  
    padding: 5px;
     
}

.copyright {
    font-size: 9px;
    background-color:  rgb(172, 116, 116);
    align-items: center;
}

.image_columnLeftUp {
    margin-bottom: 0;
}

.date {
    color:brown;
}
p {
    text-align:justify;
    padding: 15px;
}